absl-py==1.1.0
albumentations==1.3.0
altair==4.2.2
anyio==3.6.2
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.4.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
blinker==1.6
boto3==1.26.48
botocore==1.29.48
cachetools==5.2.0
certifi==2022.6.15
cffi==1.15.0
charset-normalizer==2.1.0
click==8.1.3
colorama==0.4.4
contextlib2==21.6.0
contourpy==1.0.7
cryptography==37.0.4
cycler==0.11.0
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.6
distlib==0.3.6
docopt==0.6.2
entrypoints==0.4
executing==0.8.3
fastapi==0.89.1
fastjsonschema==2.15.3
filelock==3.8.0
Flask==2.2.2
flatbuffers==2.0
fonttools==4.34.4
gast==0.4.0
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.9.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googlefinance==0.7
grpcio==1.47.0
h5py==3.7.0
idna==3.3
imageio==2.27.0
importlib-metadata==4.13.0
ipykernel==6.13.0
ipython==8.4.0
ipython-genutils==0.2.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.1.0
jsonschema==4.6.1
jupyter-client==7.3.1
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
keras==2.9.0
keras-nightly==2.10.0.dev2022070207
Keras-Preprocessing==1.1.2
keyboard==0.13.5
kiwisolver==1.4.4
lazy_loader==0.2
libclang==14.0.1
libsvm==3.23.0.4
libsvm-official==3.25.0
lxml==4.9.1
Markdown==3.3.7
markdown-it-py==2.2.0
MarkupSafe==2.1.1
matplotlib==3.7.1
matplotlib-inline==0.1.3
mdurl==0.1.2
mistune==0.8.4
mplfinance==0.12.9b7
mpmath==1.2.1
multiprocess==0.70.14
multitasking==0.0.11
mysql-connector-python==8.0.31
nbclient==0.6.4
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==3.0
nibabel==5.1.0
notebook==6.4.12
numpy==1.22.4
oauthlib==3.2.0
opencv-python==4.7.0.72
opencv-python-headless==4.7.0.72
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.3
pandocfilters==1.5.0
parso==0.8.3
pathos==0.3.0
petname==2.6
pickleshare==0.7.5
Pillow==9.2.0
pipdeptree==2.3.3
pipreqs==0.4.11
platformdirs==2.5.2
plotly==5.11.0
pox==0.3.2
ppft==1.7.6.6
prometheus-client==0.14.1
prompt-toolkit==3.0.29
protobuf==3.19.4
protobuf3-to-dict==0.1.5
psutil==5.9.1
pure-eval==0.2.2
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.10.4
pydeck==0.8.0
Pygments==2.14.0
Pympler==1.0.1
pyparsing==3.0.9
pyrsistent==0.18.1
python-dateutil==2.8.2
python-json-logger==2.0.7
pytimeparse==1.1.8
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
pywin32==304
pywinpty==2.0.5
PyYAML==6.0
pyzmq==23.0.0
qudida==0.0.4
redis==4.5.1
requests==2.28.1
requests-oauthlib==1.3.1
rich==13.3.3
rsa==4.8
s3transfer==0.6.0
sagemaker==2.128.0
schema==0.7.5
scikit-image==0.20.0
scikit-learn==1.1.1
scipy==1.8.1
semver==3.0.0
Send2Trash==1.8.0
six==1.16.0
smdebug-rulesconfig==1.0.1
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.3.2.post1
stack-data==0.2.0
starlette==0.22.0
streamlit==1.20.0
sympy==1.11.1
TA-Lib @ file:///C:/Users/fauza/TA_Lib-0.4.24-cp310-cp310-win_amd64.whl
tb-nightly==2.10.0a20220701
tenacity==8.1.0
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
terminado==0.15.0
tf-estimator-nightly==2.10.0.dev2022070208
tf-nightly==2.10.0.dev20220701
threadpoolctl==3.1.0
tifffile==2023.3.21
tinycss2==1.1.1
toml==0.10.2
toolz==0.12.0
torchaudio==2.0.1+cu117
torchvision==0.15.1+cu117
tornado==6.1
traitlets==5.3.0
twelvedata==1.2.11
typing_extensions==4.3.0
tzdata==2023.3
tzlocal==4.3
urllib3==1.26.9
validators==0.20.0
virtualenv==20.16.5
watchdog==3.0.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.2.2
wrapt==1.14.1
yarg==0.1.9
yfinance==0.1.87
zipp==3.11.0
